<div class="container-fluid">
  <br><br>
  <h6 class="text-center">{{'do not have an account on ayeda? please register now'|translate}}</h6>
<div class="register">
  <label>{{'username'|translate}}</label>
  <input type="text"><br/>
  <label>{{'user_email'|translate}}</label>
  <input type="email"><br/>
  <label>{{'password'|translate}}</label>
  <input type="password"><br/>
  <label>{{'confirm_p'|translate}}</label>
  <input type="password"><br/><br/>
 <span> {{'conditions_apply'|translate}}</span><br/>
 <input id="chekbox" type="checkbox"><a>{{'preview_conditions'|translate}}</a><br/>
  <button class="btn btn-dark button">{{'register'|translate}}</button>
</div>
<br/>
<br/>
</div>
