<div class="container-fluid bg-warning text-center">
  <div class="row pt-5 pb-5">
    <div class="col-md-1">
      <img src="../../favicon.ico" alt="brand logo" width="110rem"/>
    </div><br/>

    <div class="col-md-4 important-links ml-5">
      <span class="individual-links">{{'about_us'|translate}} </span>
      <span class="individual-links"> {{'projects'|translate}} </span>
      <span class="individual-links"> {{'donate'|translate}} </span>
    </div><br/>

    <div class="col-md-4 col-sm-6">
      <h6 class="font-weight-bolder mb-4">{{'join_ayeda'|translate}}</h6><br/>
      <!-- <span>{{'signup_for_updates'|translate}}</span><br/> -->
      <input type="text" class="input" placeholder="{{'email'|translate}}"> &nbsp; &nbsp;<button class="btn">{{'join'|translate}}</button>
    </div><br/>

    <div class=" col-md-3 text-center">
      <h6 class="mb-3"> {{'connect_with_us'|translate}} </h6><br/>
      <i class="fa fa-facebook"></i>
      <i class="fa fa-twitter"></i>
      <i class="fa fa-linkedin"></i><br/>
      <span class="fa fa-phone ml-2"> (+237) 677024039</span>
    </div>
<br/>
    <div class="col-md-12 col-sm-12 text-center font-weight-bolder">
    <span>{{"address"|translate}}</span>
    </div>
    <div class="col-md-12 col-sm-12 text-center font-weight-bolder">
      <span class="font-weight-bolder">&copy;{{'copy_right'|translate}} &nbsp;{{today | date}} &nbsp; {{'slogan'|translate}} | {{'policies and disclaimers'|translate}}</span>

    </div>
  </div>
</div>
