.translate{
  padding:.2rem;
  text-align: right;
  animation: fade-inout 5s;
}
.translate-button{

  border-radius: .7rem;

}
  .btn:hover{
    cursor: pointer;
}
.header{
border-radius: 50%;
box-shadow: 5px 5px 5px rgb(83, 81, 81);
}
.header-body{
  background-color: #333;
}
.title-style{
  background: -webkit-linear-gradient(white,yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;

}

.title-style:hover{
  background: -webkit-linear-gradient(yellow,black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
