<div class="text-center header-body">
  <nav class="navbar navbar-expand-lg text-center text-white">
    <a class="navbar-brand " href="#"><img src="../../../favicon.ico" width="100rem" class="header"/>  &nbsp; &nbsp; <span class="title-style">{{'brand_name'|translate}}</span>
    </a>
    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active nav-linkas" aria-current="page" href="#">{{'home'|translate}}</a>
        </li>
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle nav-linkas" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{'about_us'|translate}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">{{'about-AYEDA'|translate}}</a></li>
            <li><a class="dropdown-item" href="#">{{'about_founder'|translate}}</a></li>
            <li><a class="dropdown-item" href="#">{{'about_members'|translate}}</a></li>
            <li><a class="dropdown-item" href="#">{{'yearly_report'|translate}}</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle nav-linkas" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{'projects'|translate}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">{{'open_day_2021'|translate}}</a></li>
            <li><a class="dropdown-item" href="#">{{'project 2'|translate}}</a></li>
            <li><a class="dropdown-item" href="#">{{'project 3'|translate}}</a></li>
            <li><a class="dropdown-item" href="#">{{'project 4'|translate}}</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-linkas" routerLink="/contactUs">{{'contact_us'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-linkas" href="#">{{'donate'|translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-linkas" href="#" tabindex="-1" aria-disabled="true">{{'gallery'|translate}}</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle nav-linkas" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{'fresh_news'|translate}}
          </a>
          <ul class="dropdown-menu nav-linkas" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">news 1</a></li>
            <li><a class="dropdown-item" href="#">news 2</a></li>
            <li><a class="dropdown-item" href="#">news 3</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-linkas" href="#" tabindex="-1" aria-disabled="true">{{'sponsor'|translate}}</a>
        </li>
      </ul>
    </div>


  </nav>
</div>
