.register{
  margin: 0 auto;
  padding: 25px;
  border: 1px solid black;
  width: 30vw;
  height: 35vh;
  background-color: white;
}
.button{
float:right;
// margin: 5px;
}
.container-fluid{
  background-color: #f2f2f2;
}
