<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9">
      <h3>{{'ayeda_meaning'|translate}}</h3>
      <span>{{'ayedas_full_meaning'|translate}}</span>
 </div>

    <div class="col-sm-3">
      <h3>{{'slogan_heading'|translate}}</h3>
      <span>{{'slogan'|translate}}</span>
    </div>

    <div class="col-sm-6">
      <h3>{{'mission_heading'|translate}}</h3>
      <span>{{'mission'|translate}}</span>
      <ul>
        <li>{{'mission_1'|translate}}</li>
        <li>{{'mission_2'|translate}}</li>
        <li>{{'mission_3'|translate}}</li>
        <li>{{'mission_4'|translate}}</li>
        <li>{{'mission_5'|translate}}</li>

      </ul>
   </div>

   <div class="col-sm-6">
    <h3>{{'address_heading'|translate}}</h3>
    <span>{{'address'|translate}}</span>
   </div>

   <div class="col-sm-3">
    <span>{{'address_2'|translate}}</span>
  </div>

  <div class="col-sm-3">
    <h3>{{'created_heading'|translate}}</h3>
    <span>{{'created'|translate}}</span>
  </div>

  <div class="col-sm-6">
    <h3>{{'funds_heading'|translate}}</h3>
    <span>{{'funds'|translate}}</span>
  </div>

   <div class="col-sm-12">
    <h3>{{'objectives_heading'|translate}}</h3>
    <li>{{'objectives_1'|translate}}</li>
    <li>{{'objectives_2'|translate}}</li>
    <span>{{'objectives_3'|translate}}</span>
   </div>
<div class="col-sm-12">
  <h3>{{'preamble_heading'|translate}}</h3>
  <span>{{'preamble'|translate}}</span>
</div>
  </div>
</div>
